<a href="https://colab.research.google.com/github/obi1204/Python-Projects/blob/main/Retirement_Financial_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Inputs
salary = 40000
savings_rate = 0.25
investment_rate = 0.05
desired_cash = 1500000

In [ ]:
#Determining Cash Saved
annual_cash = salary*savings_rate
annual_cash

10000.0

In [ ]:
pip install numpy-financial

Requirement already satisfied: numpy-financial in /usr/local/lib/python3.11/dist-packages (1.0.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.11/dist-packages (from numpy-financial) (2.0.2)

In [ ]:
#Years to Retirment
import numpy_financial as npf
years = npf.nper(investment_rate, -annual_cash, 0, desired_cash)
print(f"Martha has {years:.1f} years to retirment.")

Martha has 43.9 years to retirment.

In [ ]:
#Multiple Interest Rates
investment_rates = [0.05, 0.06, 0.07]
for i_rate in investment_rates:
    years = npf.nper(i_rate, -annual_cash, 0, desired_cash)
    print(f"Martha has {years:.1f} years to retirment with an investment rate of {i_rate}.")

Martha has 43.9 years to retirment with an investment rate of 0.05.
Martha has 39.5 years to retirment with an investment rate of 0.06.
Martha has 36.1 years to retirment with an investment rate of 0.07.

In [ ]:
#Salary Retirement Model
from dataclasses import dataclass

In [ ]:
from dataclasses import dataclass

@dataclass
class ModelInputs:
  starting_salary: int = 60000
  promos_every_n_years: int = 5
  cost_of_living_raise: float = 0.02
  promo_raise: float = 0.15
  savings_rate: float = 0.25
  interest_rate: float = 0.05
  desired_cash: int = 1500000

model_data = ModelInputs()
model_data

ModelInputs(starting_salary=60000, promos_every_n_years=5, cost_of_living_raise=0.02, promo_raise=0.15, savings_rate=0.25, interest_rate=0.05, desired_cash=1500000)

In [ ]:
model_data.desired_cash

1500000

In [ ]:
data.promo_raise

0.15

In [ ]:
#Salaries Model Determines the annual salary based on cost of living raises and promotions
def salary_at_year(data, year):
  num_promos = int(year/data.promos_every_n_years)
  salary_t = data.starting_salary * (1 + data.cost_of_living_raise)**year * (1 + data.promo_raise)**num_promos
  return salary_t

d2 = ModelInputs(starting_salary=40000)

In [ ]:
for i in range(10):
  year = i + 1
  salary = salary_at_year(model_data, year)
  print(f"The salary at year {year} is ${salary:,.0f}")

The salary at year 1 is $61,200
The salary at year 2 is $62,424
The salary at year 3 is $63,672
The salary at year 4 is $64,946
The salary at year 5 is $76,182
The salary at year 6 is $77,705
The salary at year 7 is $79,259
The salary at year 8 is $80,844
The salary at year 9 is $82,461
The salary at year 10 is $96,727

In [ ]:
#Wealth Model

year = 1

def cash_saved_during_year(data, year):
  salary = salary_at_year(data, year)
  cash_saved = salary * data.savings_rate
  return cash_saved

cash_saved_during_year(model_data, 1)

15300.0

In [ ]:
def wealth_at_year(data, year, prior_wealth):
  cash_saved = cash_saved_during_year(data, year)
  wealth = prior_wealth * (1 + data.interest_rate) + cash_saved
  return wealth

wealth_at_year(data, 1, 0)

15300.0

In [ ]:
prior_wealth = 0
for i in range(6):
  year = i + 1
  wealth = wealth_at_year(data, year, prior_wealth)
  print(f"The wealth at year {year} is ${wealth:,.0f}")
  prior_wealth = wealth

The wealth at year 1 is $15,300
The wealth at year 2 is $31,671
The wealth at year 3 is $49,173
The wealth at year 4 is $67,868
The wealth at year 5 is $90,307
The wealth at year 6 is $114,248

In [ ]:
#Retirement Model
def years_to_retirement(data):

  prior_wealth = 0
  year = 0
  wealth = 0

  print('Wealth over time: ')

  while wealth < data.desired_cash:
    year = year + 1
    wealth = wealth_at_year(data, year, prior_wealth)
    print(f"The wealth at year {year} is ${wealth:,.0f}")
    prior_wealth = wealth

  print('\nRetirement: ')
  print(f"It will take {year} years to retire.")

In [ ]:
ytr = years_to_retirement(model_data)

Wealth over time:
The wealth at year 1 is $15,300
The wealth at year 2 is $31,671
The wealth at year 3 is $49,173
The wealth at year 4 is $67,868
The wealth at year 5 is $90,307
The wealth at year 6 is $114,248
The wealth at year 7 is $139,775
The wealth at year 8 is $166,975
The wealth at year 9 is $195,939
The wealth at year 10 is $229,918
The wealth at year 11 is $266,080
The wealth at year 12 is $304,542
The wealth at year 13 is $345,431
The wealth at year 14 is $388,878
The wealth at year 15 is $439,025
The wealth at year 16 is $492,294
The wealth at year 17 is $548,853
The wealth at year 18 is $608,878
The wealth at year 19 is $672,557
The wealth at year 20 is $745,168
The wealth at year 21 is $822,190
The wealth at year 22 is $903,859
The wealth at year 23 is $990,422
The wealth at year 24 is $1,082,140
The wealth at year 25 is $1,185,745
The wealth at year 26 is $1,295,520
The wealth at year 27 is $1,411,793
The wealth at year 28 is $1,534,910

Retirement:
It will take 28 years to retire.

In [ ]:
import pandas as pd

# Assuming ModelInputs and functions are already defined (from your script)
data = ModelInputs()

# Initialize list to hold simulation data
records = []

# Simulate for a number of years (e.g., 30)
prior_wealth = 0
for i in range(40):
    year = i + 1
    salary = salary_at_year(data, year)
    cash_saved = cash_saved_during_year(data, year)
    wealth = wealth_at_year(data, year, prior_wealth)
    records.append({
        "Year": year,
        "Salary": salary,
        "Cash_Saved": cash_saved,
        "Wealth": wealth
    })
    prior_wealth = wealth

# Convert to DataFrame
Retirement_Model = pd.DataFrame(records)

# Display the DataFrame
Retirement_Model

    Year         Salary     Cash_Saved        Wealth
0      1   61200.000000   15300.000000  1.530000e+04
1      2   62424.000000   15606.000000  3.167100e+04
2      3   63672.480000   15918.120000  4.917267e+04
3      4   64945.929600   16236.482400  6.786779e+04
4      5   76181.575421   19045.393855  9.030657e+04
5      6   77705.206929   19426.301732  1.142482e+05
6      7   79259.311068   19814.827767  1.397754e+05
7      8   80844.497289   20211.124322  1.669753e+05
8      9   82461.387235   20615.346809  1.959394e+05
9     10   96727.207227   24181.801807  2.299182e+05
10    11   98661.751371   24665.437843  2.660796e+05
11    12  100634.986399   25158.746600  3.045423e+05
12    13  102647.686127   25661.921532  3.454313e+05
13    14  104700.639849   26175.159962  3.888781e+05
14    15  122813.850543   30703.462636  4.390254e+05
15    16  125270.127554   31317.531888  4.922942e+05
16    17  127775.530105   31943.882526  5.488528e+05
17    18  130331.040707   32582.760177  6.088782e+05
18    19  132937.661521   33234.415380  6.725565e+05
19    20  155935.876964   38983.969241  7.451683e+05
20    21  159054.594504   39763.648626  8.221904e+05
21    22  162235.686394   40558.921598  9.038589e+05
22    23  165480.400121   41370.100030  9.904219e+05
23    24  168790.008124   42197.502031  1.082140e+06
24    25  197990.679529   49497.669882  1.185745e+06
25    26  201950.493120   50487.623280  1.295520e+06
26    27  205989.502982   51497.375746  1.411793e+06
27    28  210109.293042   52527.323260  1.534910e+06
28    29  214311.478903   53577.869726  1.665234e+06
29    30  251387.364753   62846.841188  1.811342e+06
30    31  256415.112048   64103.778012  1.966013e+06
31    32  261543.414289   65385.853572  2.129700e+06
32    33  266774.282575   66693.570644  2.302878e+06
33    34  272109.768226   68027.442057  2.486050e+06
34    35  319184.758129   79796.189532  2.690148e+06
35    36  325568.453292   81392.113323  2.906048e+06
36    37  332079.822358   83019.955589  3.134370e+06
37    38  338721.418805   84680.354701  3.375769e+06
38    39  345495.847181   86373.961795  3.630932e+06
39    40  405266.628743  101316.657186  3.913795e+06

In [ ]:
Retirement_Model.to_csv('Retirement_Model.csv', index=False)